@charset "UTF-8";

#calendar {
    display: flex;
    flex-wrap: wrap;
}

/*全体*/
.CalendarWrapper{
    margin: 0 auto;
    color: #666;
    text-align: center;
}

.CalendarWrapper * {
	    object-fit: cover;
}

section {
    margin: 10px;
}

table {
	margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

/*日曜*/
td:first-child {
    color: red;
}

/*土曜*/
td:last-child {
    color: royalblue;
}

/*前後付きの日付*/
td.is-disabled {
    color: #ccc;
}

/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

