@charset "UTF-8";

    img{
    width:50%;
    }

    #popWin {
    text-align: center;
    position: fixed;
      top: 0;
      left: 0;
      width: 50vw;
      height: 80vh;
      z-index: 0;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: red;
    }

    .pop-win {
      text-align: center;
      width: 50vw;
      height: 70vh;
      background-color: yellow;
    }

    #close {
      text-align: center;
      position: relative;
      width: 10vw;
      height: 10vh;
      cursor: pointer;
    }

    #popWin{
        animation: fadeIn 0.8s ease 0.0s 1 normal;
    }
      @keyframes fadeIn { /*animation-nameで設定した値を書く*/
        0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
        100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
      }

    input[type="checkbox"]:checked + #popWin{
    display:block;
    }