@charset "UTF-8";

    #popWin {
    text-align: center;
    position: sticky;
      top: 40px;
      width: 500px;
      height: 600px;
      z-index: 0;
      display: none;
      justify-content: center;
      align-items: center;
    }

	#popWin{
        animation: fadeIn 0.8s ease 0.0s 1 normal;
    }
      @keyframes fadeIn { /*animation-nameで設定した値を書く*/
        0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
        100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
      }

    .pop-win {
      text-align: center;
      width: 500px;
      height: 600px;
      background-color: yellow;
    }

    #cheerlist {
      text-align: center;
      width: 500px;
    }

    h2 {
      text-align: center;
      background-color:green;
    }

    h4 {
      text-align: center;
      background-color:green;
    }

    #close {
      /*text-align: center;
      width: 10px;
      height: 10px;*/
      cursor: pointer;
      margin: auto;
    }

    .close{
	 width:70px;
	 height:70px;
	}
	/*
	.addSize{
    input[type="checkbox"]:checked + #popWin{
    display:block;
    }
	}
	*/