@charset "UTF-8";

/*ログイン画面*/
.titlegazou {
    text-align:center;
    					user-select:none;
					-webkit-user-select:none;
					-ms-user-select: none;
					-moz-user-select:none;
					-khtml-user-select:none;
					-webkit-user-drag:none;
					-khtml-user-drag:none;
					user-drag:none;
	-webkit-user-drag:none;

}
.forzagazou{width:800px;
position:relative;
top:70px;
right:50px;
					user-select:none;
					-webkit-user-select:none;
					-ms-user-select: none;
					-moz-user-select:none;
					-khtml-user-select:none;
					-webkit-user-drag:none;
					-khtml-user-drag:none;
					user-drag:none;
	-webkit-user-drag:none;

}


img{user-drag:none;
	-webkit-user-drag:none;}




.m-form-text {
    height: 4em;
    width: 200px;
    padding: 30 40px;
    border-radius: 60px;
    border: none;
    box-shadow: 0 0 0 1px black inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.m-form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px black inset;
}

.m-form-text1 {
    height: 4em;
    width: 200px;
    padding: 30 40px;
    border: none;
    box-shadow: 0 0 0 1px black inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.m-form-text1:focus {
    outline: 0;
    box-shadow: 0 0 0 2px black inset;
}

.bg {
    padding:30px;
    background-color:#555555;
}

.rogin {
    width: 470px;
    height: 500px;
    border : 1px solid #000;
    position: relative;
    margin: 50px 400px 50px 400px;
    background-color:#DDDDDD;
    opacity:30;
}

.table-center {
    text-align: center;
    position: relative;
    top:115px;
					user-select:none;
					-webkit-user-select:none;
					-ms-user-select: none;
					-moz-user-select:none;
					-khtml-user-select:none;
					-webkit-user-drag:none;
					-khtml-user-drag:none;

}

/* .ID {
    text-align: center;
    margin: 30px 80px 0 0;
}
input[name="ID"] {
    outline:solid 2px #038003;
    border-radius: 0.55em;

}

.PW {
    text-align: center;
    margin: 20px 27px 40px 0;
    font-family:"YuMincho";
}
input[name="PW"] {
    outline:solid 2px #038003;
    border-radius: 0.55em;
}
 */.new,.new:link,.new:visited,.new:hover,.new:active {font-size: 23px;
					font-weight: bold;
            		text-decoration:none;
					user-select:none;
					-webkit-user-select:none;
					-ms-user-select: none;
					-moz-user-select:none;
					-khtml-user-select:none;
					-webkit-user-drag:none;
					-khtml-user-drag:none;
					color:black;
					position:relative;
					top:15px;
}

.idpw{font-size:1.3em}


input[name="LOGIN"] {
	width:200px;
	height:4em;
    display: inline-block;
  padding: 0.8em 1.5em;
  background-color: #e3364a; /* 背景色 */
  box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
    margin: 10px;
    font-weight:bold;
}

input[name="LOGIN"]:hover {
    box-shadow: none;
    transform: translateY(5px);
  }

  /*新規登録画面*/

  input[name="REGIST"] {
  	width:200px;
	height:4em;
    display: inline-block;
  padding: 0.8em 1.5em;
  background-color: #4689FF; /* 背景色 */
  box-shadow: 0 5px 0 #005FFF; /* 影の太さ・色 */
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  margin: 10px;
}
input[name="REGIST"]:hover {
    box-shadow: none;
    transform: translateY(5px);
  }

.ID1 {
    text-align: center;
    margin: 30px 80px 0 0;
}
  input[name="ID1"] {
    outline:solid 2px #800080;
    border-radius: 0.55em;
  }
.PW1 {
    text-align: center;
    margin: 20px 27px 40px 0;
  }
input[name="PW1"] {
    outline:solid 2px #800080;
    border-radius: 0.55em;
}

