@charset "UTF-8";

/* 個人設定ページ */

        html *{
            box-sizing: border-box;
        }
        body{
            background-color: blanchedalmond;
            margin: 0 auto;
            width: 90%;
        }
        header{
            display: inline-flex;
            text-align: center;
            border-bottom: 1px solid #00000080;
            width: 90%;
        }
        .logo{
            margin: 0;
            left: 0px;
        }
        .logo img{
            height: 50px;
        }
        .news {
            margin : 0;
            padding : 0 20%;
            height: 50px;
            position: relative;
            text-align : center;
            overflow : hidden;
        }
        .news h3{
            margin:0;
            position: absolute;
            bottom: 0;
            display : inline-block;
            animation : scrollnews 20s linear infinite;
        }
        @keyframes scrollnews{
            0% { transform: translateX(0)}
            100% { transform: translateX(-100%)}
        }
        #btn{
            border-color: black;
            width: 50px;
            height: 50px;
            border-radius: 60%;
            text-align: right;
        }
        .holiday{
            display: inline-flex;
        }
