@charset "UTF-8";

 /* 全体 */
      .wrapper {
             padding:30px;
             background-color:#4682B4;
        }
   /* ヘッダー */
/*         header{
            display: inline-flex;
            text-align: center;
            border-bottom: 1px solid #00000080;
            width: 90%;
        }
 */
        .header_logo{
        	z-index: 1;
        	background-color: white;
        }

        .logo{
            margin: 0;
            left: 0px;
        }
        .logo img{
            height: 50px;
        }
        .newsWrapper {
        	display: block;
  			height: 50px;
  			width: 100%;
  			background-color:white;
  			overflow: hidden;
            animation : scrollnews 20s linear infinite;
        }
        .news {
        	margin: 0px;
            text-align: left;
            display: inline;
            overflow: hidden;
        }

        .newsBr {
        	display: block;
			content: "";
			padding: 7px 0;
        }
        .news ul{
            display: inline;
            overflow: hidden;
            list-style: none;
        }
        .news li {
            display: inline;
            overflow: hidden;
            list-style: none;
        }
        @keyframes scrollnews{
            0% { transform: translateX(100%)}
            100% { transform: translateX(-100%)}
        }

        /* .nav ul{
         display: inline;
         overflow: hidden;
   		 position: relative;
   		 list-style: none;
   		}
		.nav ul li {
		 display: inline;
   		 margin: 0;
   		 position: absolute;
    	 top: 50%;
  		 transform: translate(0, -50%);
  		 overflow: hidden;
         list-style: none;
  		 }

  		 @keyframes scrollnews{
            0% { transform: translateX(100%)}
            100% { transform: translateX(-100%)}
         } */

        .btn{
            border-color: black;
            width: 50px;
            height: 50px;
            border-radius: 60%;
            text-align: right;
        }

        #displayPanel{
        	display: inline-flex;
        }

		.icon_image{
			width: 100%;
		 	max-width: 47px;
		 	height: 100%;
		 	max-height: 47px;
		 	border-radius: 50%;
		}
		/* ヘッダーCSSのテスト 一応いらないものはコメントアウトしてますが邪魔なら消してください */

		header{width:100%;
			margin:0;
			padding:0;
			display: inline-flex;
			background :#fff;
			color:#333;
			display:flex;
			border-bottom:solid 3px rgba(153,153,153,0.6);
			user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

		h1{
			margin:0px 25px 0px 25px;
			padding:0px;
			position:relative;
			text-align:center;
			height:50px;
			font-size:35px;
		}

/*==ナビゲーション全体の設定*/
		nav{
			background:#fff;
			color:#333;
			text-align: center;
			height:50px;
			margin-left:auto;
			border-left:solid 2px rgba(153,153,153,0.6);
		}
		nav:hover{
			border-left:solid 3px rgba(153,153,153,0.6);
			border-top:solid 3px rgba(153,153,153,0.6);
		}
/*ナビゲーションを横並びに*/
		nav ul{
			list-style: none;
			display: flex;
		/*  justify-content: center; */
			padding:0;
		}
/*2階層目以降は横並びにしない*/
		nav ul ul{
			display: block;
			padding:0;
		}


/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
		nav ul li{
			position: relative;
		}

/*ナビゲーションのリンク設定*/
		nav ul li a{
			display: block;
			text-decoration: none;
			color: #7e7e7e;
			padding:15px 35px;
			transition:all .1s;
		}



/*nav ul li li a{*/
/*   padding:10px 35px; */
/* nav ul li a:hover{
  color:#fff;
} */
/*==矢印の設定*/
/*2階層目を持つliの矢印の設定*/
/* nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
} */
/*3階層目を持つliの矢印の設定*/
/* nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:6px;
  top:17px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
} */
/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
		nav li.has-child ul{
		/*絶対配置で位置を指定*/
			position: relative;
			left:0;
			top:0px;
			z-index: 1000;
		/*形状を指定*/
			background:#28BFE7;
			width:180px;
		/*はじめは非表示*/
			visibility: hidden;
			opacity: 0;
		/*アニメーション設定 メモの更新ボタンと近い関係上、アニメーションがあると若干邪魔なので一旦コメントアウト*/
		/*  transition: all .1s; */
		}

/*hoverしたら表示*/
		nav li.has-child:hover > ul,
		nav li.has-child ul li:hover > ul,
		nav li.has-child:active > ul,
		nav li.has-child ul li:active > ul{
			visibility: visible;
			opacity: 1;
		}

/*ナビゲーションaタグの形状*/
		nav li.has-child ul li a{
			color: #fff;
			border-bottom:solid 1px rgba(255,255,255,0.6);
	  		user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

		nav li.has-child ul li:last-child a{
			border-bottom:none;
		}

		nav li.has-child ul li a:hover,
		nav li.has-child ul li a:active{
			background:#3577CA;
		}


/* /*==3階層目*/

/* 3階層目の位置 */
		nav li.has-child ul ul{
			position:relative;
			top:50px;
		/*   left:182px; */
			background:#66ADF5;
		}

		nav li.has-child ul ul li a:hover,
		nav li.has-child ul ul li a:active{
			background:#448ED3;
		} */




/*========= レイアウトのためのCSS ===============*/

		h1{
			font-size:2rem;
			text-align: center;
		}
		a .menu{
			height:50px;
			font-size:36px;
			user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

/* h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
} */
/* p{
  margin-top:20px;
} */
/* small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
} */
/*
section{
  padding:30px;
}
 */



		section:nth-child(2n){
			background:#f3f3f3;
		}

  /* メイン */

        .bg  {
             width: 470px;
             height: 500px;
             border : 1px solid #000;
             position: relative;
             margin: 50px 400px 50px 400px;
             background-color:#DDDDDD;
             opacity:30;
         }
   /* アップロードボタン */
         .upload {
             text-align: center;
             margin: 10px 0px 0 8px;
             width: 450px;
             padding: 0.1px;
             border: 1px solid #333;
             background: #f2f2f2;
         }
         input[name="UPLOAD"] {
             display: inline-block;
             padding: 0.125em 0.145em;
             background-color:#BBBBBB; /* 背景色 */
             box-shadow: 0 5px 0 #444444; /* 影の太さ・色 */
             cursor: pointer;
             text-decoration: none; /* 文字の下線を消す */
             margin: -20px 0;
              border-radius: 10px;
         }
         input[name="UPLOAD"]:hover {
             box-shadow: none;
             transform: translateY(5px);
         }
         .custom {
             text-align: center;
             margin: 4px 0 0 8px;
             width: 450px;
             padding: 0;
             border: 1px solid #333;
             background: #f2f2f2;
         }
         .customname {
             margin: 0 0 0 -96px;
         }

		.acd-check{
		    display: none;
		}
		.acd-label{

		    background: #f2f2f2;
		    display: block;
		    margin-bottom: 1px;
		    padding: 10px;
		    position: relative;
		}
		.acd-label:after{
		    background: #f2f2f2;
		    box-sizing: border-box;
		    content: '三';
		    display: block;
		    font-family: "Font Awesome 5 Free";
		    height: 55px;
		    padding: 20px 20px;
		    position: absolute;
		    right: 0;
		    top: 0px;
		}
		.acd-content{
		    border: 1px solid #4682B4;
		    display: block;
		    height: 0;
		    opacity: 0;
		    padding: 0 10px;
		    transition: .5s;
		    visibility: hidden;
		}
		.acd-check:checked + .acd-label:after{
		    content: '✖';
		}
		.acd-check:checked + .acd-label + .acd-content{
		    height: 25px;
		    opacity: 1;
		    padding: 10px;
		    visibility: visible;
		}
		h2 {
			margin: 0 0 0 -260px;
		}


		 /* 新規追加ボタン */
		 input[name="data1"] {
			 display: inline-block;
		  padding: 0.11em 0.125em;
		  background-color: #000080; /* 背景色 */
		  box-shadow: 0 2px 0 #000000; /* 影の太さ・色 */
		  border-radius: 10px;
		  color: #fff;
		  cursor: pointer;
		  text-decoration: none; /* 文字の下線を消す */
		}
		input[name="data1"]:hover {
		    box-shadow: none;
		    transform: translateY(3px);
		  }
		  .submit {
		    margin: 0 0 0 190px;
		  }

		/* カスタムセット 新規追加テキスト */
		         .addnew {
		             margin: 10px 0 0 -298px;
		         }
		/* カスタムセット タグデザイン */
		.clickableTitle{
			margin: 24px 0 -20px -160px;
			border-bottom: 5px solid #bad9b4;
			cursor: pointer;
			 border: solid 4px;  /* 枠線指定 */
		    padding: 8px;      /* 余白指定 */
		    width:  300px;
		    text-align: left;
		}


		/* カスタムセットタグ編集ボタン */
		input[name="EDIT"] {
		  background-color: #BAD3FF; /* 背景色 */
		  margin: -80px 0 0 130px
		}

		/* ハンバーガーボタン */
		/* for hamburger menu */
		/* チェックボックス非表示 */

		.drawer-hidden {
		    display: none;
		}
		/* アイコン設置場所 */
		.drawer-open {
		    display: flex;
		    height: 60px;
		    width: 60px;
		    justify-content: center;
		    align-items: center;
		    position: relative;
		    z-index: 100;/* 重なり順を一番上に */
		    cursor: pointer;
		    margin: -60px 0 0 380px;
		}


		/* ハンバーガーメニューのアイコン */
		.drawer-open span,
		.drawer-open span:before,
		.drawer-open span:after {
		  content: '';
		  display: block;
		  height: 3px;
		  width: 40px;
		  border-radius: 3px;
		  background: #333;
		  transition: 0.5s;
		  position: absolute;
		}
		/* 三本線のうち一番上の棒の位置調整 */
		.drawer-open span:before {
		    bottom: 8px;
		  }
		  /* 三本線のうち一番下の棒の位置調整 */
		  .drawer-open span:after {
		    top: 8px;
		  }
		 /* メニューの中のリスト*/
		 .drawer-item {
		    text-align: right;
		 }
		  /* アイコンがクリックされたら真ん中の線を透明にする */
		#drawer-check:checked ~ .drawer-open span {
		    background: rgba(255, 255, 255, 0);
		  }
		  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
		  #drawer-check:checked ~ .drawer-open span::before {
		    bottom: 0;
		    transform: rotate(45deg);
		  }
		  #drawer-check:checked ~ .drawer-open span::after {
		    top: 0;
		    transform: rotate(-45deg);
		  }
		  /* メニューのデザイン*/
		.drawer-content {
		    width: 34%;
		    height: 100%;
		    position: fixed;
		    top: -100%;
		    bottom: 0;
		    margin: 0 0 0 -3px;
		    /* メニューを画面の外に飛ばす */
		    z-index: 99;
		    background: #FFFFFF;
		    transition: 0.7s;
		  }
		  /* アイコンがクリックされたらメニューを表示 */
		  #drawer-check:checked ~ .drawer-content {
		    top: 24%;/* メニューを画面に入れる */
		  }
		.clickableTable{
			width: 30%;

		}
		.clickableTitle{
			float: center;
			border-bottom: 3px solid #4682B4;
			cursor: pointer;

		}
		.clickableTitle:nth-child(1){
		    background-color: #444444;
		    color: #f9fff7;
		}
		.hiddenLine{
			display: none;
			float: second;
			width: 392%;
			height: 180px;

			background-color: #CCCCCC;
			margin: 20px 0 40px -156px;
		}
		.hiddenLine:after{
			clear:both;
		}

		.cheer-image{
			width:35%;
			margin: 0 200px 0 0;
		}

		.bg1 {
			padding: 100px 0 0 -100px;
		    margin: 0 20px 10px 100px;
		    font-weight: bold;
		}

		.postcenter{
		    margin: -45px 20px 0 30px;
		}
		.postRight{
			width: 100%;
		}
		/* カスタムセットの中身　編集ボタン */
		 input[name="EDITT"] {
			 display: inline-block;
		  padding: 0.11em 0em;
		  background-color: #000080; /* 背景色 */
		  box-shadow: 0 5px 0 #000000; /* 影の太さ・色 */
		  border-radius: 10px;
		  color: #fff;
		  cursor: pointer;
		  text-decoration: none; /* 文字の下線を消す */
		}
		input[name="EDITT"]:hover {
		    box-shadow: none;
		    transform: translateY(4px);
		  }
		.edit {
			margin: -60px 0 28px 244px;
		}
		input[name="message"] {
			width: 100%;
			height: 30px;
		}
		/* 画像アップロード */
		input[name="CHEER"] {
		    margin: 0 60px 0 0;
		}

		/* 新規メッセージ追加ボタン */
        .new {
            margin: 0 74px 0 0;
        }
