@charset "UTF-8";

/* 個人設定ページ */
        html *{
            box-sizing: border-box;
        }
        body{
            /* background-color: blanchedalmond; */
            background-color:pink;
            margin: 0 auto;
            text-align: center;
            width: 90%;
        }
        header{
            display: inline-flex;
            text-align: center;
            border-bottom: 1px solid #00000080;
            width: 90%;
        }
        .logo{
            margin: 0;
            left: 0px;
        }
        .logo img{
            height: 50px;
        }
        .news {
            margin : 0;
            padding : 0 40%;
            height: 50px;
            position: relative;
            text-align : center;
            overflow : hidden;
        }
        .news h3{
            margin:0;
            position: absolute;
            bottom: 0;
            display : inline-block;
            animation : scrollnews 20s linear infinite;
        }
        @keyframes scrollnews{
            0% { transform: translateX(0)}
            100% { transform: translateX(-100%)}
        }
        #btn{
            border-color: black;
            width: 50px;
            height: 50px;
            border-radius: 60%;
            text-align: right;
        }
        main{background:rgba(255,255,255,0.6);
        	border-radius: 20px;
            text-align: left;
            width: 450px;
			height:550px;
            margin: 30px auto;
            padding: 10px;
        }
        .icon {
        	text-align:center;
        	margin:  0 auto;
        }
        .icon_img{
        	text-align:center;
        	object-fit: cover;
        	margin:  0 auto;

        }
        .holiday{
            display: inline-flex;
        }


.setPw{position:relative;
		top:20px;}
.setRemind{position:relative;
		top:45px;}
#submit{position:relative;
		top:65px;
}
hr{position:relative;
		top:10px;}

#preview{width: 250px;
  		height: 250px;
 		object-fit: cover;
 		margin:  0 auto;}
img{
  object-fit: cover;}
.setIcon{text-align:center;
margin:  0 auto;
}