
/*タスクリスト用CSS*/
input[name="CUSTOMSET_ID"] {
	border-radius: 50%;
}

/*タスク登録用ポップアップCSS*/

p #date {
	font-weight: bold;
	text-shadow: -1px -1px 4px white, -1px 0 4px white, -1px 1px 4px white,
		         0 -1px 4px white, 0 1px 4px white,
		         1px -1px 4px white,  1px 0 4px white,  1px 1px 4px white;
}

#click-btn {
		font-weight: bold;
		border: solid 2px rgb(153, 153, 153,0.6);
	    padding: 4px 1px;
	    background:rgba(255,255,255,0.6);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
	    color: black;
	    cursor: pointer;
	    border-radius:10px;
	    height: 2em;
	    width: 5em;
		font-size:19px;
		transition: 0.3s;
    }

#click-btn:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border: solid 2px black;
	    padding: 4px 1px;
	    cursor: pointer;
	    border-radius:10px;
	    background:rgba(255,255,255,0.6);
	    box-shadow: -1px -1px 4px white, -1px 0 4px white, -1px 1px 4px white,
                 	0 -1px 4px white,                    0 1px 4px white,
               		1px -1px 4px white,  1px 0 4px white,  1px 1px 4px white;

    }

input[name="task_name"] {
		border: solid 2px rgb(153, 153, 153,0.6);
	    padding: 4px 1px;
	    background:rgba(255,255,255,0.6);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
	    color: black;
	    cursor: pointer;
	    border-radius:10px;
	    height: 2em;
	    width: 5em;
		font-size:14px;
		transition: 0.3s;
}

input[name="task_name"]:hover {
	border: solid 2px black;
	    padding: 4px 1px;
	    cursor: pointer;
	    border-radius:10px;
	    background:rgba(255,255,255,0.6);
	    box-shadow: -1px -1px 4px yellow, -1px 0 4px yellow, -1px 1px 4px yellow,
                 	0 -1px 4px yellow,                    0 1px 4px yellow,
               		1px -1px 4px yellow,  1px 0 4px yellow,  1px 1px 4px yellow;
}

#delete {
		border: solid 2px rgb(153, 153, 153,0.6);
	    padding: 4px 1px;
	    background:rgba(255,255,255,0.6);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
	    color: black;
	    cursor: pointer;
	    border-radius:10px;
	    height: 2em;
	    width: 5em;
		font-size:14px;
		transition: 0.3s;
}

#delete:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border: solid 2px black;
	    padding: 4px 1px;
	    cursor: pointer;
	    border-radius:10px;
	    background:rgba(255,255,255,0.6);
	    box-shadow: -1px -1px 4px red, -1px 0 4px red, -1px 1px 4px red,
                 	0 -1px 4px red,                    0 1px 4px red,
               		1px -1px 4px red,  1px 0 4px red,  1px 1px 4px red;

    }

 /*  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
} */

#popup-wrapper {
  z-index:2;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside {
  z-index:3;
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

#message {
	text-align:left;
	padding:50px 20px 50px 20px;
}

#addBtn{
		font-weight: bold;
		border: solid 2px rgb(153, 153, 153,0.6);
	    padding: 4px 1px;
	    background:rgba(255,255,255,0.6);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
	    color: black;
	    cursor: pointer;
	    border-radius:10px;
	    height: 3em;
	    width: 5em;
		font-size:13px;
		transition: 0.3s;
    }
#addBtn:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border: solid 2px black;
	    padding: 4px 1px;
	    cursor: pointer;
	    border-radius:10px;
	    background:rgba(255,255,255,0.6);
	    box-shadow: -1px -1px 4px white, -1px 0 4px white, -1px 1px 4px white,
                 	0 -1px 4px white,                    0 1px 4px white,
               		1px -1px 4px white,  1px 0 4px white,  1px 1px 4px white;

    }


#close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}







/*タスク編集用ポップアップCSS*/

#click-name {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

.edit-popup-wrapper {
  z-index:2;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.edit-popup-inside {
  z-index:3;
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

.edit-message a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

.edit-message {
	text-align:left;
	padding:50px 20px 50px 20px;
}

.edit-close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#updateBtn{
		font-weight: bold;
		border: solid 2px rgb(153, 153, 153,0.6);
	    padding: 4px 1px;
	    background:rgba(255,255,255,0.6);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
	    color: black;
	    cursor: pointer;
	    border-radius:10px;
	    height: 3em;
	    width: 5em;
		font-size:13px;
		transition: 0.3s;
    }
#updateBtn:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border: solid 2px black;
	    padding: 4px 1px;
	    cursor: pointer;
	    border-radius:10px;
	    background:rgba(255,255,255,0.6);
	    box-shadow: -1px -1px 4px white, -1px 0 4px white, -1px 1px 4px white,
                 	0 -1px 4px white,                    0 1px 4px white,
               		1px -1px 4px white,  1px 0 4px white,  1px 1px 4px white;

    }


/*褒める用のCSS*/

#popWin {
   	z-index:2;
    background-color: rgba(0, 0, 0, .5);
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	display: none;
  	overflow: scroll;
    animation: fadeIn 0.8s ease 0.0s 1 normal;
}

@keyframes fadeIn { /*animation-nameで設定した値を書く*/
       0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
       100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}

.popwin-inside {
 	 z-index:3;
     text-align: center;
 	 width: 100%;
	 max-width: 600px;
	 height: 100%;
	 max-height: 600px;
	 background: white;
	 margin: 10% auto;
	 padding: 10px;
	 position: relative;
}

#cheerlist {
     text-align: center;
     width: 500px;
}

h2 {
     text-align: center;
}

#popupclose {
 	display: inline-block;
 	padding: 0.8em 1.5em;
 	background-color: #e3364a; /* 背景色 */
 	box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
 	border-radius: 60px;
 	color: black;
 	cursor: pointer;
 	text-decoration: none; /* 文字の下線を消す */
}

#popupclose:hover {
   box-shadow: none;
   transform: translateY(5px);
}


.popupclose{
	width:70px;
	height:70px;
}


#particles-js{
	position:fixed; /* 描画固定 */
	z-index:-1; /* 描画を一番下に */
	width: 100%;
	height: 100%;
}

#wrapper{
	position: relative; /* 描画を#particles-jsよりも上にするためposition:relative;を指定 */
	z-index: 1; /* z-indexの数字を大きくすることで描画を#particles-jsよりも上に */
	width:100%;
	height: 100%;
}
