@charset "UTF-8";

/*＋ボタンに関するデザイン*/
#popup {
    text-align: center;
    font-weight: bold;
    display: block;
    width: 50px;
    padding: 10px;
    border: solid;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
  }

/*ポップアップしてくるウィンドウに関するデザイン*/
#popWin {
    text-align: center;
    position: fixed;
      top: 0;
      left: 0;
      width: 80vw;
      height: 80vh;
      z-index: 0;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: red;
  }

  /*ポップアップしてくるウィンドウ内の文字付近に関するデザイン*/
  .pop-win {
      text-align: left;
      width: 50vw;
      height: 50vh;
      background-color: yellow;
  }

  /*「閉じる」ボタンのデザイン*/
  #close {
      color: black;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      background-color: #fff;
  }

  /*隔週の日数を記入するテキストボックスに関するデザイン*/
  .txt1{
      width: 1em;
  }
  html{
  font-family: "Helvetica Neue", sans-serif;
  width:100%;
  color:#666666;
  text-align:center;
}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:50%;
  height:50%;
  left:25%; 
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:	#ffffff;
  border:1px solid #666666;  
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}
