
/*タスク登録用ポップアップCSS*/
#click-btn {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside {
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

#message a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}


#popup-close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}







/*タスク編集用ポップアップCSS*/

#click-name {
  display: block;
  margin: 20px auto;
  background-color: purple;
  color: white;
  border: 0;
  padding: 6px 10px;
}

.edit-popup-wrapper {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.edit-popup-inside {
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

.edit-message a {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

.edit-close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}



/*褒める用のCSS*/




    #popWin {
	    background-color: rgba(0, 0, 0, .5);
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	display: none;
	    animation: fadeIn 0.8s ease 0.0s 1 normal;
     }

      @keyframes fadeIn { /*animation-nameで設定した値を書く*/
        0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
        100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
      }

	 .popwin-inside {
	     text-align: center;
	 	 width: 100%;
		 max-width: 500px;
		 height: 100%;
		 max-height: 500px;
		 background: white;
		 margin: 10% auto;
		 padding: 20px;
		 position: relative;
    }

    #cheerlist {
      text-align: center;
      width: 500px;
    }

    h2 {
      text-align: center;
    }

    #close {
    display: inline-block;
  	padding: 0.8em 1.5em;
  	background-color: #e3364a; /* 背景色 */
  	box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
  	border-radius: 60px;
  	color: black;
  	cursor: pointer;
  	text-decoration: none; /* 文字の下線を消す */
	}

	#close:hover {
    box-shadow: none;
    transform: translateY(5px);
	}


    .close{
	 width:70px;
	 height:70px;
	}


	#particles-js{
	position:fixed; /* 描画固定 */
	z-index:-1; /* 描画を一番下に */
	width: 100%;
	height: 100%;
	}

	#wrapper{
	position: relative; /* 描画を#particles-jsよりも上にするためposition:relative;を指定 */
	z-index: 1; /* z-indexの数字を大きくすることで描画を#particles-jsよりも上に */
	width:100%;
	height: 100%;
	}

	/* input[type="checkbox"]:checked + #popWin{
    display:block;
    } */
