@charset "UTF-8";

        html *{
            box-sizing: border-box;
        }
        body{
            background-color: blanchedalmond;
            margin: 0 auto;
            width: 90%;
        }
        /* ヘッダー */
        header{
            display: inline-flex;
            text-align: center;
            border-bottom: 1px solid #00000080;
            width: 90%;
        }
        .logo{
            margin: 0;
            left: 0px;
        }
        .logo img{
            height: 50px;
        }
        .news {
            margin : 0;
            padding : 0 20%;
            height: 50px;
            position: relative;
            text-align : center;
            overflow : hidden;
        }
        .news h3{
            margin:0;
            position: absolute;
            bottom: 0;
            display : inline-block;
            animation : scrollnews 20s linear infinite;
        }
        @keyframes scrollnews{
            0% { transform: translateX(0)}
            100% { transform: translateX(-100%)}
        }
        .btn{
            border-color: black;
            width: 50px;
            height: 50px;
            border-radius: 60%;
            text-align: right;
        }
        #displayPanel{
        	display: inline-flex;
        }
        /* メイン */
        main{
            width: 90%;
            position: relative;
        }
        .main{
            margin-top: 10px;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 300px  80px auto;
        }
        .calendar{
            background-color: #ffffff94;
            border-radius: 10%;
            grid-column: 1;
            grid-row: 1 / 2;
        }
        .task{
            background-color: #33ff0094;
            border-radius: 10%;
            grid-column: 2 / 3;
            grid-row: auto;
        }
        .memo{
            grid-column: 3 / 4;
            grid-row: 1 / 3;
        }
        .trophy{
            background-color: #ff000094;
            border-radius: 10%;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        @media  screen and (max-width:1000px) {

        }
        @media screen and (max-width: 700px) {

        }






/* トップメモのCSS　ここから */

.memo { font-family: "Meiryo UI";  font-size: 2vw;   /* おそらくメモのラベルのみに適用されている */
}

textarea {
	width:100%;                        /* divタグの大きさのうち何パーセントの大きさか */
	height:100%;                       /* divタグの大きさのうち何パーセントの大きさか */
    font-family: inherit;
    font-size: 1rem;
    resize: none;                      /* テキストエリアの大きさを固定(なくても行数に合わせて可変になるわけではない) */
  	border: solid 2px black;         /* 枠の太さと色 */
  	border-radius: 6px;                /* 枠の丸みの度合いを指定 */
  	outline: 0;                        /* これが何かは忘れた　不要なら削除 */
  	transition: 0.3s;                  /* これが何かは忘れた　不要なら削除 */
  	-webkit-appearance: none;          /* これが何かは忘れた　不要なら削除 */
}

textarea:focus{border:2px solid blue;}  /* 入力時に枠の色が変わる。枠の太さとかも変えられる　不要なら削除 */


	/* トップメモ更新ボタンのCSS　ここから */

	.submit{
		border:1px solid #777;
	    padding: 4px 1px;
	    color: black;
	    cursor: pointer;
	    background: white;
	    border-radius:10px;
	    height: 2em;
	    width: 5em;
		font-size:19px;
    }
	.submit:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border:1px solid #777;
	    padding: 4px 1px;
	    color: white;
	    cursor: pointer;
	    background: black;
	    border-radius:10px;
    }

	/* トップメモ更新ボタンのCSS　ここまで */

/* トップメモのCSS　ここまで */
