@charset "UTF-8";







/* トップメモのCSS　ここから */

.memo { font-family: "Meiryo UI";  font-size: 2vw;   /* おそらくメモのラベルのみに適用されている */
}

textarea {
	width:100%;                        /* divタグの大きさのうち何パーセントの大きさか */
	height:100%;                       /* divタグの大きさのうち何パーセントの大きさか */
    font-family: inherit;
    font-size: 1rem;
    resize: none;                      /* テキストエリアの大きさを固定(なくても行数に合わせて可変になるわけではない) */
  	border: solid 2px black;         /* 枠の太さと色 */
  	border-radius: 6px;                /* 枠の丸みの度合いを指定 */
  	outline: 0;                        /* これが何かは不明　不要なら削除 */
  	transition: 0.3s;                  /* これが何かは不明　不要なら削除 */
  	-webkit-appearance: none;          /* これが何かは不明　不要なら削除 */
}

textarea:focus{border:2px solid blue;}  /* 入力時に枠の色が変わる。枠の太さとかも変えられる　不要なら削除 */


	/* トップメモ更新ボタンのCSS　ここから */

	.submit{
		border:1px solid #777;
	    padding: 4px 1px;
	    color: black;
	    cursor: pointer;
	    background: white;
	    border-radius:10px;
	    height: 2em;
	    width: 5em;
		font-size:19px;
		position:relative;
		left:95px;                         /* 更新ボタンの位置を調整しています。右過ぎたら数字を減らしてください。 */
    }
	.submit:hover{                        /* カーソルが乗っている時に色が変わる　不要なら　.submit:hover　は削除 */
	    border:1px solid #777;
	    padding: 4px 1px;
	    color: white;
	    cursor: pointer;
	    background: black;
	    border-radius:10px;
    }

	/* トップメモ更新ボタンのCSS　ここまで */

/* トップメモのCSS　ここまで */
