@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');

        /* ヘッダー */
/*         header{
            display: inline-flex;
            text-align: center;
            border-bottom: 1px solid #00000080;
            width: 90%;
        }
 */
        .header_logo{
        	z-index: 1;
        	background-color: white;
        }

        .logo{
            margin: 0;
            left: 0px;
        }
        .logo img{
            height: 50px;
        }
        .newsWrapper {
        	display: block;
  			height: 50px;
  			width: 100%;
  			background-color:white;
  			overflow: hidden;
            animation : scrollnews 20s linear infinite;
        }
        .news {
        	margin: 0px;
            text-align: left;
            display: inline;
            overflow: hidden;
        }

        .newsBr {
        	display: block;
			content: "";
			padding: 7px 0;
        }
        .news ul{
            display: inline;
            overflow: hidden;
            list-style: none;
        }
        .news li {
            display: inline;
            overflow: hidden;
            list-style: none;
        }
        @keyframes scrollnews{
            0% { transform: translateX(100%)}
            100% { transform: translateX(-100%)}
        }

        /* .nav ul{
         display: inline;
         overflow: hidden;
   		 position: relative;
   		 list-style: none;
   		}
		.nav ul li {
		 display: inline;
   		 margin: 0;
   		 position: absolute;
    	 top: 50%;
  		 transform: translate(0, -50%);
  		 overflow: hidden;
         list-style: none;
  		 }

  		 @keyframes scrollnews{
            0% { transform: translateX(100%)}
            100% { transform: translateX(-100%)}
         } */

        .btn{
            border-color: black;
            width: 50px;
            height: 50px;
            border-radius: 60%;
            text-align: right;
        }

        #displayPanel{
        	display: inline-flex;
        }

		.icon_image{
			width: 100%;
		 	max-width: 47px;
		 	height: 100%;
		 	max-height: 47px;
		 	border-radius: 50%;
		}

/* ヘッダーCSSのテスト 一応いらないものはコメントアウトしてますが邪魔なら消してください */

		header{width:100%;
			margin:0;
			padding:0;
			display: inline-flex;
			background :#fff;
			color:#333;
			display:flex;
			border-bottom:solid 3px rgba(153,153,153,0.6);
			user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

		h1{
			margin:0px 25px 0px 25px;
			padding:0px;
			position:relative;
			text-align:center;
			height:50px;
			font-size:35px;
		}

/*==ナビゲーション全体の設定*/
		nav{
			background:#fff;
			color:#333;
			text-align: center;
			height:50px;
			margin-left:auto;
			border-left:solid 2px rgba(153,153,153,0.6);
		}
		nav:hover{
			border-left:solid 3px rgba(153,153,153,0.6);
			border-top:solid 3px rgba(153,153,153,0.6);
		}
/*ナビゲーションを横並びに*/
		nav ul{
			list-style: none;
			display: flex;
		/*  justify-content: center; */
			padding:0;
		}
/*2階層目以降は横並びにしない*/
		nav ul ul{
			display: block;
			padding:0;
		}


/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
		nav ul li{
			position: relative;
		}

/*ナビゲーションのリンク設定*/
		nav ul li a{
			display: block;
			text-decoration: none;
			color: #7e7e7e;
			padding:15px 35px;
			transition:all .1s;
		}



/*nav ul li li a{*/
/*   padding:10px 35px; */
/* nav ul li a:hover{
  color:#fff;
} */
/*==矢印の設定*/
/*2階層目を持つliの矢印の設定*/
/* nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
} */
/*3階層目を持つliの矢印の設定*/
/* nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:6px;
  top:17px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
} */
/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
		nav li.has-child ul{
		/*絶対配置で位置を指定*/
			position: relative;
			left:0;
			top:0px;
			z-index: 1000;
		/*形状を指定*/
			background:#28BFE7;
			width:180px;
		/*はじめは非表示*/
			visibility: hidden;
			opacity: 0;
		/*アニメーション設定 メモの更新ボタンと近い関係上、アニメーションがあると若干邪魔なので一旦コメントアウト*/
		/*  transition: all .1s; */
		}

/*hoverしたら表示*/
		nav li.has-child:hover > ul,
		nav li.has-child ul li:hover > ul,
		nav li.has-child:active > ul,
		nav li.has-child ul li:active > ul{
			visibility: visible;
			opacity: 1;
		}

/*ナビゲーションaタグの形状*/
		nav li.has-child ul li a{
			color: #fff;
			border-bottom:solid 1px rgba(255,255,255,0.6);
	  		user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

		nav li.has-child ul li:last-child a{
			border-bottom:none;
		}

		nav li.has-child ul li a:hover,
		nav li.has-child ul li a:active{
			background:#3577CA;
		}


/* /*==3階層目*/

/* 3階層目の位置 */
		nav li.has-child ul ul{
			position:relative;
			top:50px;
		/*   left:182px; */
			background:#66ADF5;
		}

		nav li.has-child ul ul li a:hover,
		nav li.has-child ul ul li a:active{
			background:#448ED3;
		} */




/*========= レイアウトのためのCSS ===============*/

		#header h1{
			height: 50px;
			font-size: 2rem;
			text-align: center;
		}
		a .menu{
			height:50px;
			font-size:36px;
			user-select:none;
			-webkit-user-select:none;
			-ms-user-select: none;
			-moz-user-select:none;
			-khtml-user-select:none;
			-webkit-user-drag:none;
			-khtml-user-drag:none;
		}

/* h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
} */
/* p{
  margin-top:20px;
} */
/* small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
} */
/*
section{
  padding:30px;
}
 */



		section:nth-child(2n){
			background:#f3f3f3;
		}


/* 背景挿入のレシピ確立次第マネする */

body{
	background-color:blanchedalmond;
	margin: 0px;
	}

/* 枠みたいな部分 */
.TrophyDiv{width:1200px; /* %でもいいけどどうせトロフィー画像たちは縮まないので固定にした */
			height:80%;
			background:rgba(240,248,255,0.5);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
			margin: 0 auto;
			position:relative;
			top:80px;
			border-radius: 20px;
			user-select:none;
			overflow:hidden;   /* ここ */
}
@keyframes shiny {
    0% {
        transform: scale(0) rotate(25deg);
        opacity: 0;
    }

    50% {
        transform: scale(1) rotate(25deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(25deg);
        opacity: 0;
    }
}


.TrophyDiv::after {
    content: '';
    position: absolute;
    top: -30px;
    left: -300px;
    width: 100px;
    height: 500px;
    background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);

    /* アニメーション */
    animation-name: shiny;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



table {
border-collapse: separate;
border-spacing: 10px 1px;
}

/* h1{font-size:60px;
	white-space: nowrap;
	font-family:"Hannari";
	font-family:Times New Roman;
	font-weight:bold;

	text-shadow:
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;

 	padding: 20px 0;
	margin: 0;
	background-image: linear-gradient(
		70deg,
		#DC413C 45%, font color
		#FFF 50%,
		#DC413C 55% font color
	);
	background-size: 180% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 3s infinite;
}

@keyframes shine {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 */
.TrophyDiv h1 {
	font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: orange;
	text-shadow:
		0 0 0.05em #fff,
		0 0 0.10em #fff,
		0 0 0.15em #fff,
		0 0 0.30em #fff;
	filter: saturate(80%);
}


.midashi{font-size:25px;
		white-space: nowrap;
		font-weight:bold;

		color: #000;
		text-shadow:
			0 0 0.05em rgb(255, 255, 255),
			0 0 0.06em rgb(255, 255, 255),
			0 0 0.07em rgb(255, 255, 255),
			0 0 0.08em rgb(255, 255, 255),
			0 0 0.09em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.50em rgb(255, 255, 255);
}
.sousuu{color:orange;
		font-size:50px;
 		font-weight:bold;
 		white-space: nowrap;
		font-family:"Hannari";
		font-weight:bold;
		text-shadow:
		0 0 0.05em #fff,
		0 0 0.10em #fff,
		0 0 0.15em #fff,
		0 0 0.30em #fff;
	filter: saturate(80%);

/* 	text-shadow:
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;
 */
/*  	padding: 0;
	margin: 0;
	background-image: linear-gradient(
		70deg,
		#DC413C 45%, font color
		#FFF 50%,
		#DC413C 55% font color
	);
	background-size: 180% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 3s infinite; */

/* 		color: #ffd700;
		text-shadow:
			0 0 0.05em #FFF59D,
			0 0 0.06em #FFF59D,
			0 0 0.07em #FFF59D,
			0 0 0.08em #FFF59D,
			0 0 0.09em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.50em #FFF59D; */
}


/* 獲得しているトロフィーの下にある数字のフォント変更 */

.a{font-size:25px;
 		font-weight:bold;
		color: orange;
		text-shadow:
			0 0 0.05em rgb(255, 255, 255),
			0 0 0.06em rgb(255, 255, 255),
			0 0 0.07em rgb(255, 255, 255),
			0 0 0.08em rgb(255, 255, 255),
			0 0 0.09em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.50em rgb(255, 255, 255);}

img{user-drag:none;
	-webkit-user-drag:none;}

a {
  			text-decoration: none;
  			color: #000000;
		}
a:hover {
  			text-decoration: none;
  			color: #000000;
		}
a:visited {
  			text-decoration: none;
  			color: #000000;
		}


.header_background {
			width: 100%;
			height: 50px;
			color: #ffffff;
			z-index: 0;
			float: left;
		}

.background{
			z-index: -100;
			position: fixed;
		}

		.background img {
			z-index: -100;
			height: 100%;
		}

/* ヘッダーのテストここから
.gnavi__wrap {
    width: 1200px;
    margin: 0 auto;
}
.gnavi__lists {
    display: flex;
}
.gnavi__list {
    width: 20%;
    height: 60px;
    background-color: #E5F0F8;
    position: relative;
    left:900px;
    text-align:right;
    transition: all .3s;
    list-style: none;
}
.gnavi__list:hover {
    background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.gnavi__list:hover::before {
    background-color: #0071BB;
}
.gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}
.gnavi__list:hover a {
    color: #fff;
}


.dropdown__lists {
    display: none;デフォルトでは非表示の状態にしておく
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    list-style: none;
}
.gnavi__list:hover .dropdown__lists {
    display: block;Gナビメニューにホバーしたら表示
}
.dropdown__list {
    background-color: #004d80;
    height: 60px;
    transition: all .3s;
    position: relative;
}
.dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3492d1;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown__list:hover {
    background-color: #003558;
}
.dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}


 */



