@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');


/* 背景挿入のレシピ確立次第マネする */

body{ background-color:blanchedalmond;

	}

/* 枠みたいな部分 */
.TrophyDiv{width:1200px; /* %でもいいけどどうせトロフィー画像たちは縮まないので固定にした */
			height:80%;
			background:rgba(240,248,255,0.5);   /* 前3つの数字は色コード。背景画像が入るから白系のほうがいいかも。最後の0.5が透け方の程度を調整している */
			margin: 0 auto;
			position:relative;
			top:80px;
			border-radius: 20px;
			user-select:none;
			overflow:hidden;   /* ここ */
}
@keyframes shiny {
    0% {
        transform: scale(0) rotate(25deg);
        opacity: 0;
    }

    50% {
        transform: scale(1) rotate(25deg);
        opacity: 1;
    }

    100% {
        transform: scale(50) rotate(25deg);
        opacity: 0;
    }
}


.TrophyDiv::after {
    content: '';
    position: absolute;
    top: -30px;
    left: -300px;
    width: 100px;
    height: 500px;
    background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);

    /* アニメーション */
    animation-name: shiny;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



table {
border-collapse: separate;
border-spacing: 10px 1px;
}

/* h1{font-size:60px;
	white-space: nowrap;
	font-family:"Hannari";
	font-family:Times New Roman;
	font-weight:bold;

	text-shadow:
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;

 	padding: 20px 0;
	margin: 0;
	background-image: linear-gradient(
		70deg,
		#DC413C 45%, font color
		#FFF 50%,
		#DC413C 55% font color
	);
	background-size: 180% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 3s infinite;
}

@keyframes shine {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 */
h1 {
	font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: orange;
	text-shadow:
		0 0 0.05em #fff,
		0 0 0.10em #fff,
		0 0 0.15em #fff,
		0 0 0.30em #fff;
	filter: saturate(80%);
}


.midashi{font-size:25px;
		white-space: nowrap;
		font-weight:bold;

		color: #000;
		text-shadow:
			0 0 0.05em rgb(255, 255, 255),
			0 0 0.06em rgb(255, 255, 255),
			0 0 0.07em rgb(255, 255, 255),
			0 0 0.08em rgb(255, 255, 255),
			0 0 0.09em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.50em rgb(255, 255, 255);
}
.sousuu{color:orange;
		font-size:50px;
 		font-weight:bold;
 		white-space: nowrap;
		font-family:"Hannari";
		font-weight:bold;
		text-shadow:
		0 0 0.05em #fff,
		0 0 0.10em #fff,
		0 0 0.15em #fff,
		0 0 0.30em #fff;
	filter: saturate(80%);

/* 	text-shadow:
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;
 */
/*  	padding: 0;
	margin: 0;
	background-image: linear-gradient(
		70deg,
		#DC413C 45%, font color
		#FFF 50%,
		#DC413C 55% font color
	);
	background-size: 180% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: shine 3s infinite; */

/* 		color: #ffd700;
		text-shadow:
			0 0 0.05em #FFF59D,
			0 0 0.06em #FFF59D,
			0 0 0.07em #FFF59D,
			0 0 0.08em #FFF59D,
			0 0 0.09em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.20em #FFF59D,
			0 0 0.50em #FFF59D; */
}


/* 獲得しているトロフィーの下にある数字のフォント変更 */

.a{font-size:25px;
 		font-weight:bold;
		color: orange;
		text-shadow:
			0 0 0.05em rgb(255, 255, 255),
			0 0 0.06em rgb(255, 255, 255),
			0 0 0.07em rgb(255, 255, 255),
			0 0 0.08em rgb(255, 255, 255),
			0 0 0.09em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.20em rgb(255, 255, 255),
			0 0 0.50em rgb(255, 255, 255);}

img{user-drag:none;
	-webkit-user-drag:none;}






